body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: linear-gradient(to right, #eee, #3dfaaa);
    text-align: center;
}

.calculator {
    display: grid;
    background: #333;
    grid-template-columns: repeat(3,1fr);
    max-width: 400px;
    margin: 10px;
    font-size: 50px;
    margin: 0 auto;
}
.item-block {
    border: 1px solid #fff;
}
.item-block1 {
    grid-column: 1 / -1;
}