body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: linear-gradient(to right, rgb(113, 13, 194), #3dfaaa);
    text-align: center;
}
h1 {
    color: #fff;
    font-weight: 400;
    text-decoration: underline;
}

.calculator {
    display: grid;
    background: #337;
    grid-template-columns: repeat(3,1fr);
    max-width: 400px;
    margin: 10px;
    font-size: 50px;
    margin: 0 auto;
    border: 5px solid pink;
    border-radius: 5px;
}
.item-block {
    border: 1px solid #fff;
    border-radius: 2px;
    margin: 10px;
    height: 60px;
    font-size: 20px;

}
.item-block1 {
    grid-column: 1 / -1;
    font-size: 32px;
    text-align: center;
    color:#000;
}
/* blocks */
.operator {
    background: rgb(51, 47, 47);
    color:#fff;
}

.numbers{
    background: #eee;
}
.item-block16 {
    grid-column: 3 / -1;
}
.item-block17 {
    grid-column: 1 / -1;

}